.row
  .five.columns
  
    %a.small.button(href="#")
      Small button
    
    %a.button(href="#")
      Button
    
    %a.large.button(href="#")
      Large button
    
  .five.columns
    %a.small.alert.button(href="#")
      Small alert button
    
    %a.success.button(href="#")
      Success button
    
    %a.large.secondary.button(href="#")
      Large secondary button
      
